html, head, body {
    /*background-image: url(//img/animalicon.png);*/
    background-image: url("/img/animalicon.png");
    background: url("/img/animalicon.png");
    background-repeat: repeat;
    background-size: 100%;
}

.background{

    background-image: url("/img/animalicon.png");
    background-repeat: repeat;
}

.headerText{

}

.formText{

}
.bodyText{


}
